Web Services/Eyeconic/OrderStatusService/trunk/ServiceEngine/Service References/VSPTest/ODGOrderStatusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.acumenex.com/2011/01/odg" elementFormDefault="qualified" targetNamespace="http://schemas.acumenex.com/2011/01/odg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ostservprv.cloudapp.net/ODGOrderStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OOS.WCF" />
  <xs:element name="UpdateOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OOS.WCF" minOccurs="0" name="orderDetails" nillable="true" type="q1:CLOrderDetails" />
        <xs:element minOccurs="0" name="passPhrase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OOS.WCF" minOccurs="0" name="UpdateOrderStatusResult" nillable="true" type="q2:UpdateOrderStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>